# a
snippet a
	<a href="${1}">${2}</a>${3}
# class
snippet cl
	class="${1}"${2}
# id
snippet id
	id="${1}"${2}
# li
snippet li
	<li>${1}</li>
# ol
snippet ol
	<ol>
		${1}
	</ol>
# target blank
snippet tar
	target="${1:_blank}"${2}
# ul
snippet ul
	<ul>
		${1}
	</ul>


